.footer {
  background-color: black;
  padding: 150px 0;
  color: white;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .box-top {
      text-align: center;
      margin-bottom: 24px;
      padding: 24px 0;
      .heading {
        margin-bottom: 24px;
        font-size: 30px;
        max-width: 900px;
        font-weight: bold;
        @media screen and (max-width: 768px) {
          max-width: 600px;
        }
        @media screen and (max-width: 425px) {
          font-size: 20px;
        }
      }
      .desc {
        margin-bottom: 24px;
        font-size: 20px;
        @media screen and (max-width: 425px) {
          font-size: 14px;
        }
      }
      input {
        font-size: 16px;
        padding: 10px 20px;
        margin-right: 10px;
        outline: none;
        border: none;
        border-radius: 2px;
        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
        }
      }
      .button {
        padding: 10px 20px;
        font-size: 20px;
        @media screen and (max-width: 768px) {
          margin-right: 10px;
          margin-bottom: 20px;
          max-width: 235px;
          width: 100%;
        }
      }
    }
    .box-bottom {
      display: grid;
      grid-template-columns: repeat(4, 160px);
      grid-gap: 30px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 160px 160px;
      }
      @media screen and (max-width: 425px) {
        grid-template-columns: 160px;
        grid-gap: 30px 0;
      }
      .bottom-item {
        .title {
          margin-bottom: 16px;
          font-size: 24px;
          font-weight: bold;
        }
        a {
          display: block;
          color: white;
          text-decoration: none;
          font-size: 16px;
          margin-bottom: 16px;
          -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
          cursor: pointer;
          &:hover {
            color: #0467fb;
          }
        }
      }
    }
    .box-footer {
      padding: 50px 0 0;
      display: flex;
      height: 100px;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      .logo {
        font-size: 30px;
        font-weight: bold;
      }
      .copy-right {
        font-size: 12px;
      }
      .social-icon {
        display: flex;
        &-item {
          margin-left: 20px;
          font-size: 20px;
          transition: 0.3s ease-out;
          cursor: pointer;
          &:hover {
            color: #0467fb;
          }
        }
      }
    }
  }
}
