.infoContent {
  color: white;
  padding: 160px 0;
  background-color: black;
  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column !important;
    }
  }
  .left,
  .right {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .right {
    margin-right: 30px;
    @media screen and (max-width: 768px) {
      margin-right: 0;
    }
  }
  .left {
    .topLine {
      font-size: 18px;
      color: #a9b3c1;
      line-height: 16px;
      font-weight: 700;
      letter-spacing: 1.4px;
    }
    .heading {
      margin: 15px 0 24px;
      font-size: 48px;
      line-height: 1.1;
      font-weight: 500;
      color: #f7f8fa;
    }
    .desc {
      max-width: 440px;
      margin-bottom: 35px;
      font-size: 18px;
      line-height: 24px;
      color: #a9b3c1;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1000px) {
    padding: 50px 0;
    .left {
      .topLine,
      .desc,
      .button {
        font-size: 15px;
      }
      .heading {
        font-size: 30px;
        max-width: 440px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: 30px 0;
    .left {
      max-width: 350px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 50px;
      .topLine,
      .desc,
      .button {
        font-size: 15px;
      }
      .heading {
        font-size: 30px;
      }
    }
  }
}
.light {
  background-color: white;
  .left {
    .topLine {
      color: #4b59f7;
      font-size: 18px;
    }
    .heading {
      color: black;
    }
    .desc {
      color: black;
    }
  }
}
.reverse {
  .infoContent-box {
    flex-direction: row-reverse;
  }
}
