nav {
  background: url(https://images.pexels.com/photos/7151632/pexels-photo-7151632.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500)
    no-repeat center;
  background-size: cover;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  padding: 20px;

  &:before {
    content: '';
    background: rgb(152, 115, 97);
    background: linear-gradient(45deg, rgba(152, 115, 97, 0.45281862745098034) 0%, rgba(230, 202, 147, 0.45) 100%);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .logo {
    color: #fff;

    h1 {
      font-size: 30px;
      font-weight: 600;
      border-bottom: 1px solid #fff;
      padding-bottom: 8px;
    }

    p {
      text-transform: capitalize;
      margin-top: 8px;
      font-size: 16px;
      letter-spacing: 2px;
    }
  }

  ul {
    margin-top: 20px;

    li {
      display: inline-block;
      width: 100%;
      color: #fff;

      a {
        background: #fff6;
        color: #584a3a;
        display: block;
        padding: 15px 20px;
        margin-bottom: 20px;
        border-radius: 15px;

        &.active {
          background: #fff;
        }
      }

      i {
        width: 20px;
      }
    }
  }
}
