* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

input, button, textarea, select {
    font-family: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}